<footer class="page-footer teal">
  <div class="container">
    <div class="row">
      <div class="col l8 s12">
        <h5 class="white-text">About the Developer</h5>
        <p class="grey-text text-lighten-4">Developer focused on web/mobile projects.
          Commited to work in every part of software development process,
          from the conceptualization to the building part, using and implementing
           all kind of languages and technologies</p>
      </div>
      <div class="col l2 m12 s12">
        <h5 class="white-text">Projects</h5>
        <ul>
          <li><a class="white-text" href="https://github.com/rxco"><i class="fab fa-github"></i> Github</a></li>
        </ul>
      </div>
      <div class="col l2 m12 s12">
        <h5 class="white-text">Experience</h5>
        <ul>
          <li><a class="white-text" href="https://www.linkedin.com/in/raulcontrerasarredondo/"><i class="fab fa-linkedin"></i> Linkedin</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container center">
      <i class="fas fa-laptop-code"></i> Raúl Contreras | 2019
      </div>
    </div>
  </div>
