# Don't track content of these rails folders
tmp/
log/

# Don't track editor files
.idea/

# Ignore OSX files
.DS_Store
.env

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
